# Dependency directory
node_modules/

# Logs
*.log

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Output of 'npm pack'
*.tgz

# Optional eslint cache
.eslintcache
.DS_Store
